<launch>

    <!-- Replicate static tfs transform from inside the bag (offset of robot base and lasers) to avoid errors due to packet loss -->
    <node pkg="tf" type="static_transform_publisher" name="tf_laser_front" args="0.35 0.0 0.0 0.0 0.0 0.5150381 0.8571673 /base_link /laser_front 100" />
    <node pkg="tf" type="static_transform_publisher" name="tf_laser_rear" args="-0.35 0.0 0.0 0.0 0.0 0.866 0.5 /base_link /laser_rear 100" />
    <node pkg="tf" type="static_transform_publisher" name="tf_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 /base_footprint /base_link 100" />

    <!-- Set simulation time to avoid removal of messages as old -->
    <param name="use_sim_time" type="boolean" value="true" />

    <!-- Run rviz to visualize map creation-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find project2)/launch/rviz_view.rviz" />

    <!-- Run ira_laser_tools and configuration to merge laser scans -->
    <!-- https://qiita.com/MMM-lab/items/84cdf9a8ad97324e10ed -->
    <node pkg="ira_laser_tools" type="laserscan_multi_merger" name="laserscan_multi_merger" output="screen">
        <param name="destination_frame" value="base_footprint" />
        <param name="cloud_destination_topic" value="/merged_cloud" />
        <param name="scan_destination_topic"  value="/scan" />
        <param name="laserscan_topics" value="/front/scan /rear/scan" />
        
        <!-- Values extracted from first bag -->
        <param name="angle_min" value="-3.14159"/>
        <param name="angle_max" value="3.14159"/>
        <param name="angle_increment" value="0.002"/>
        <param name="scan_time" value="0.154"/>
        <param name="range_min" value="0.08"/>
        <param name="range_max" value="16"/>
    </node>

    <!-- Run gmapper to perform map creation -->
    <!-- <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <remap from="base_frame" to="base_footprint"/>
    </node> -->

</launch>