<launch>

    <!-- Replicate static tfs transform from inside the bag (offset of robot base and lasers) to avoid errors due to packet loss -->
    
    <!-- Transform base_link -> laser_front for laser front -->
    <node pkg="tf" type="static_transform_publisher" name="tf_laser_front" args="0.35 0.0 0.0 0.0 0.0 0.5150381 0.8571673 /base_link /laser_front 100" />
    <!-- Transform base_link -> laser_rear for laser rear -->
    <node pkg="tf" type="static_transform_publisher" name="tf_laser_rear" args="-0.35 0.0 0.0 0.0 0.0 0.866 0.5 /base_link /laser_rear 100" />
    <!-- Transform base_footprint -> base_link to match the two -->
    <node pkg="tf" type="static_transform_publisher" name="tf_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 /base_footprint /base_link 100" />
    <node pkg="dynamic_broadcaster" type="odom_dynamic_broadcaster" name="odom_dynamic_broadcaster" output="screen" />

    <!-- Set simulation time to avoid removal of messages as old -->
    <param name="use_sim_time" type="boolean" value="true" />

    <!-- Run rviz to visualize map creation with precofigured view-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find project2)/launch/rviz_map.rviz" />

    <!-- Run ira_laser_tools and configuration to merge laser scans -->
    <!-- https://qiita.com/MMM-lab/items/84cdf9a8ad97324e10ed -->
    <node pkg="ira_laser_tools" type="laserscan_multi_merger" name="laserscan_multi_merger" output="screen">

        <!-- Destination to refers laser scans to -->
        <param name="destination_frame" value="base_link" />
        <!-- TODO: Output as cloud (dunno what it means) -->
        <param name="cloud_destination_topic" value="/merged_cloud" />
        <!-- Destination topic as merged scan -->
        <param name="scan_destination_topic"  value="/scan" />
        <!-- Source scant topics -->
        <param name="laserscan_topics" value="/front/scan /rear/scan" />

        <!-- TODO: try to understand what these do -->
    	<param name="angle_min" value="-3.14159"/>
	    <param name="angle_max" value="3.14159"/>
	    <!-- <param name="angle_increment" value="0.002"/> -->
	    <param name="range_min" value="0.08"/>
	    <param name="range_max" value="16.0"/>
        
    </node>

    <!-- Run gmapper to perform map creation -->
    <!-- Please refer to the following link to get info about values -->
    <!-- https://wiki.ros.org/action/fullsearch/gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <!-- TODO: try to understand how to set these values -->

        <!-- From shared code -->
        <param name="base_frame" value="base_footprint"/>
        <param name="odom_frame" value="odom"/>
        <param name="map_update_interval" value="5.0"/>
        <param name="maxUrange" value="15.0"/>
        <param name="maxRange" value="15.5"/>
        <param name="sigma" value="0.05"/>
        <param name="kernelSize" value="1"/>
        <param name="lstep" value="0.05"/>
        <param name="astep" value="0.05"/>
        <param name="iterations" value="5"/>
        <param name="lsigma" value="0.075"/>
        <param name="ogain" value="3.0"/>
        <param name="lskip" value="0"/>
        <param name="minimumScore" value="200"/>
        <param name="srr" value="0.1"/>
        <param name="srt" value="0.2"/>
        <param name="str" value="0.1"/>
        <param name="stt" value="0.2"/>
        <param name="linearUpdate" value="0.04"/>
        <param name="angularUpdate" value="0.01"/>
        <param name="temporalUpdate" value="-1.0"/>
        <param name="resampleThreshold" value="0.5"/>
    </node>
    
</launch>